/*****HELE SIDEN*****/
@media screen and (min-width: 1400px) {
  #disclaimer-box {
    display: none;
  }

  #sem1-mappebox {
    display: grid;
    grid-template-columns: 1fr 3fr;
    height: 700px;
  }

  /*****OVERSIGT CSS GENERELT******/
  .oversigt {
    background-color: #dcefe4;
    border: #76e2aa solid 1px;
    padding-top: 1rem;
    padding-left: 1rem;
    color: black;
    text-shadow: none;
  }

  .option a {
    color: black;
    text-shadow: none;
  }

  .option:hover {
    background-color: #a6e9c6;
  }

  /******SEMESTER 1 OVERSIGT******/
  .sem1-mappe {
    background-color: #e2f0e8;
    display: flex;
  }

  .sem1-mappe a {
    color: black;
    text-shadow: none;
  }

  .darken:hover {
    filter: brightness(95%);
  }
}
